<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <a routerLink="" class="logo">
                <img src="../../assets/css/admin/img/logo_new.png" alt="" width="60%">
                <!-- <h3 class="page--title h3">LTI Insurance</h3> -->
            </a>

            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Sidebar Toggle Button End -->

        <!-- Navbar Search Start -->
        <!-- Navbar Search End -->

        <div class="navbar--nav ml-auto">
            <ul class="nav">

                <!-- Nav Language Start -->
                <!-- Nav Language End -->

                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user online">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle">
                        <span>Admin</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="profile.html"><i class="far fa-user"></i>Profile</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a routerLink=""><i class="fa fa-power-off" (click)="logout()"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Profile Start -->
        <!-- Sidebar Profile End -->

        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li class="active open">
                            <a href="#">
                                <span>Admin</span>
                            </a>

                            <ul>
                                <li>
                                    <a routerLink="/admindashboard">Dashboard</a>
                                </li>
                                <li><a routerLink="/policies">Policies</a></li>
                                <li><a routerLink="/editpolicies">Edit Policies</a></li>
                                <li><a routerLink="/claims">Claims</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>




            </ul>
        </div>
        <!-- Sidebar Navigation End -->

        <!-- Sidebar Widgets Start -->
        <!-- Sidebar Widgets End -->
    </aside>
    <!-- Sidebar End -->

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Edit Policies</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard-Admin.html">Admin</a></li>
                            <li class="breadcrumb-item active"><span>Edit Policy</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">

            <div class="panel">

                <!-- Edit Product Start -->
                <div class="records--body">
                    <div class="title">
                        <h6 class="h6">Policy Details</h6>

                    </div>

                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tab01" data-toggle="tab" class="nav-link active">Add Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab02" data-toggle="tab" class="nav-link">Update Policy</a>
                        </li>


                    </ul>
                    <!-- Tabs Nav End -->

                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade show active" id="tab01">
                            <form #policyForm="ngForm" (submit)="addPolicy(policyForm)">
                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Policy Name: *</span>

                                    <div class="col-md-9">
                                        <input type="text" placeholder="Policy Name" name="policyName" class="form-control" #policyName="ngModel" [(ngModel)]="policy.policyName" required>
                                        <div *ngIf="policyName.invalid && (policyName.touched || policyName.dirty)" style="color: red;border: red;">
                                            <div *ngIf=policyName.errors.required>Policy Name is required</div>
                                            <!-- <div *ngIf=policyName.errors.pattern>Policy Name must contain letters</div> -->
                           
                                        </div><br>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Policy Type</span>
                                    <div class="btn-group col-md-9">
                                
                                        <input type="text" name="policyName" class="form-control" pattern="Bike|Car|Travel" #policyType="ngModel" [(ngModel)]="policy.policyFor" placeholder="Bike/Car/Travel" required>
                                        <div *ngIf="policyType.invalid && (policyType.touched || policyType.dirty)" style="color: red;border: red;">
                                            <div *ngIf=policyType.errors.required>Policy Type is required</div>
                                            <div *ngIf=policyType.errors.pattern>Invalid Policy Type</div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Duration*</span>

                                    <div class="col-md-9">
                                        <input type="text" placeholder="Duration" name="number" class="form-control" #duration="ngModel" [(ngModel)]="policy.duration" required pattern="[0-9]">
                                        <div *ngIf="duration.invalid && (duration.touched || duration.dirty)" style="color: red;border: red;">
                                        <div *ngIf=duration.errors.required>Policy Duration is required</div>
                                        <div *ngIf=duration.errors.pattern>Policy Duration must contain numbers</div>
                       
                                    </div><br>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Amount</span>

                                    <div class="col-md-9">
                                        <input type="number" placeholder="Premium Amount" name="Amount" class="form-control" #amount="ngModel" [(ngModel)]="policy.premiumAmount" required pattern="[0-9]">
                                        <!-- <div *ngIf="amount.invalid && (amount.touched || amount.dirty)" style="color: red;border: red;">
                                            <div *ngIf=amount.errors.required>Policy Amount is required</div>
                                            <div *ngIf=amount.errors.pattern>Policy Amount must contain numbers</div>
                           
                                        </div><br> -->
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-9 offset-md-3">
                                        <input type="submit" value="Add Policy" class="btn btn-rounded btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade" id="tab02"> 
                            <form #update="ngForm" (submit)="updatePolicy(update)">
                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Policy Id: *</span>

                                    <div class="col-md-9">
                                        <input type="text" name="number" placeholder="Policy Id" class="form-control" #policyId="ngModel" [(ngModel)]="newPolicy.policyId" required>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Duration: *</span>

                                    <div class="col-md-9">
                                        <input type="text" name="number" placeholder="Duration" class="form-control" #duration="ngModel" [(ngModel)]="newPolicy.duration" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Amount: *</span>

                                    <div class="col-md-9">
                                        <input type="text" name="number" placeholder="Amount" class="form-control" #amount="ngModel" [(ngModel)]="newPolicy.premiumAmount" required>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-9 offset-md-3">
                                        <input type="submit" value="Update Policy" class="btn btn-rounded btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <!-- Tab Pane End -->
                </div>
                <!-- Tab Content End -->
            </div>
            <!-- Edit Product End -->
        </section>
        <!-- Main Content End -->

        <!-- Main Footer Start -->
        <footer class="main--footer-light">
            <p>Copyright &copy; <a href="#">Admin</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>
