@import url("../../assets/css/admin/css/bootstrap.min.css");
@import url("../../assets/css/admin/css/datatables.min.css");
@import url("../../assets/css/admin/css/dropzone.min.css");
@import url("../../assets/css/admin/css/fontawesome-all.min.css");
@import url("../../assets/css/admin/css/perfect-scrollbar.min.css");
@import url("../../assets/css/admin/css/select2.min.css");
@import url("../../assets/css/admin/css/style.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.logo {
    margin-left:15%;
}