<br>
    <!-- <body style="background-color:darkgrey;"> -->
<body >
    <br><br>
    <div calss="mid-content" style="width: 80%;margin:auto;">
      <h2 style="text-align: center;">Reset Password</h2>
      <div class="main-content" style="width: 50%;margin: auto;">

 

  <form #myForm2=ngForm (ngSubmit)="updatePassword()">
    <div >
    <!-- <div style="border: 2px solid whitesmoke;background-color: white;"> -->
    <div class="main-content" style="width: 80%;margin: auto;"> 
      

 

          <!-- <input type="text" #lnm="ngModel" placeholder="Enter Last Name" name="lname" required pattern="^[a-zA-Z0-9]{8,16}$"
          [(ngModel)]="user.userName">
               <span id="sp1"  *ngIf="lnm.invalid && (lnm.dirty || lnm.touched)" style="color: red;">
                 
                 <span *ngIf="lnm.errors.required">Last Name is required</span>        
                 <span *ngIf="lnm.errors.pattern">Last Name is invalid</span>    
                 </span>
                 <br> -->
                 <!-- pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" -->
                 <!-- <input type="email" #em="ngModel" placeholder="Enter Email Address" name="email" required [(ngModel)]="fg.custEmail">
                 <span id="sp3" *ngIf="em.invalid && (em.dirty||em.touched)" style="color:red;">
                   <span *ngIf="em.errors.required">Email is required</span>    
                   <span *ngIf="em.errors.pattern">Email is invalid</span>    
                 </span> 
                 <br> -->
        
        <input type="password" #pw="ngModel" placeholder="Enter New Password" name="psw" required [(ngModel)]="reset.password">
        <span id="sp2" *ngIf="pw.invalid && (pw.dirty || pw.touched)" style="color: red;">
          <span *ngIf="pw.errors.required">Password is required </span>
          <span id="sp22" *ngIf="pw.errors.pattern">Password is invalid</span>    
        </span>
        <br>

 

        <input type="password"  placeholder="Confirm Password" name="psw" required >
        <!-- <span id="sp2" *ngIf="pw.invalid && (pw.dirty || pw.touched)" style="color: red;">
          <span *ngIf="pw.errors.required">Password is required </span>
          <span id="sp22" *ngIf="pw.errors.pattern">Password is invalid</span>    
        </span> -->
        <br>
        
        
        
        
       
  
        <br><br>
        <button type="submit" id="regButton" >Reset Password</button>
        <br><br>
        <!-- <a [routerLink]="['/loginLink']" style="margin-left: 60px;">Already have an account? Login</a> -->
        <!-- <a href="javascript:void(0);" (click)="openDialog()" style="margin-left: 60px;color: #F1F73F;" id="lgn">Already have an account? Login</a> -->
      </div>
    </div>
      </form>
    </div>
  </div>
  <br>

 

</body>
