
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <!-- Logo Start -->
            <a routerLink="" class="logo">
                <img src="../../assets/css/admin/img/logo_new.png" alt="" width="60%">
                <!-- <h3 class="page--title h3">LTI Insurance</h3> -->
            </a>
            <!-- Logo End -->
            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Sidebar Toggle Button End -->

        <!-- Navbar Search Start -->
        <!-- Navbar Search End -->

        <div class="navbar--nav ml-auto">
            <ul class="nav">
                <!-- Nav Language Start -->
                <!-- Nav Language End -->

                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user online">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle">
                        <span>Admin</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-divider"></li>
                        <li><a routerLink=""><i class="fa fa-power-off" (click)="logout()"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Profile Start -->
        <!-- Sidebar Profile End -->

        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li class="active open">
                            <a href="#">

                                <span>Admin</span>
                            </a>

                            <ul>
                                <li class="active">
                                    <a routerLink="/admindashboard">Dashboard</a>
                                </li>
                                <li><a routerLink="/policies">Policies</a></li>
                                <li><a routerLink="/editpolicies">Edit Policies</a></li>
                                <li><a routerLink="/claims">Claims</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>



            </ul>
        </div>
        <!-- Sidebar Navigation End -->

        <!-- Sidebar Widgets Start -->
        <!-- Sidebar Widgets End -->
    </aside>
    <!-- Sidebar End -->

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Page Title Start -->
                        <h2 class="page--title h5">Admin Dashboard</h2>
                        <!-- Page Title End -->

                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><span>Admin</span></li>
                            <li class="breadcrumb-item active"><span>Dashboard</span></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-6">-->

                    <!-- Summary Widget Start -->
                    <!-- Summary Widget End -->

                </div>
            </div>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">


            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <select name="filter" data-trigger="selectmenu" data-minimum-results-for-search="-1">
                                        <option value="top-search">Recent Claims</option>
                                        <option value="average-search">Latest Claims</option>
                                    </select>
                    </h3>

                    <div class="dropdown">
                        <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-sync"></i>Update Data</a></li>
                            <li><a href="#"><i class="fa fa-cogs"></i>Settings</a></li>
                            <li><a href="#"><i class="fa fa-times"></i>Remove Panel</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table style--2">
                            <thead>
                                <tr>
                                    <th>Policy ID</th>
                                    <th>Customer Name</th>
                                    <th>Amount Claimed</th>
                                    <th>Duration</th>
                                    <th>Claim ID</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Table Row Start -->
                                <tr>
                                    <td>3BSD59</td>
                                    <td><a href="#" class="btn-link">Leisure Suit Casual</a></td>
                                    <td>$99</td>
                                    <td>2</td>
                                    <td><span class="text-muted">#BG6R9853lP</span></td>
                                    <td><span class="label label-success">Paid</span></td>
                                </tr>
                                <!-- Table Row End -->

                                <!-- Table Row Start -->
                                <tr>
                                    <td>3BSD59</td>
                                    <td><a href="#" class="btn-link">Leisure Suit Casual</a></td>
                                    <td>$99</td>
                                    <td>2</td>
                                    <td><span class="text-muted">#BG6R9853lP</span></td>
                                    <td><span class="label label-warning">Due</span></td>
                                </tr>
                                <!-- Table Row End -->

                                <!-- Table Row Start -->
                                <tr>
                                    <td>3BSD59</td>
                                    <td><a href="#" class="btn-link">Leisure Suit Casual</a></td>
                                    <td>$99</td>
                                    <td>2</td>
                                    <td><span class="text-muted">#BG6R9853lP</span></td>
                                    <td><span class="label label-info">Rejected</span></td>
                                </tr>
                                <!-- Table Row End -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="records--list" data-title="Policy Listing">
                    <table id="recordsListView">
                        <thead>
                            <tr>
                                <th>Policy ID</th>
                                <th>Policy Name</th>
                                <th>Insurance Type</th>
                                <th>Price</th>
                                <th>Duration</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let policy of policies[0]">
                                <td>{{policy.policyId}}</td>
                                <td>{{policy.policyName}}</td>
                                <td>{{policy.policyFor}}</td>
                                <td>Rs. {{policy.premiumAmount}}</td>
                                <td>{{policy.duration}}<span *ngIf="policy.policyFor=='Bike' || policy.policyFor=='Car'"> Year</span><span *ngIf="policy.policyFor=='Travel'"> Day</span></td>
                                <td><button class="btn btn-rounded btn-success btn-sm mb-3">Published</button></td>
                            
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>

        </section>
        <!-- Main Content End -->

        <!-- Main Footer Start -->
        <footer class="main--footer-light">
            <p>Copyright &copy; <a routerLink="/admindashboard">Admin</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>