<!-- Header
============================================= -->
<header id="dtr-header-global" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark dtr-menu">
      <div class="container">

          <!-- light logo -->
          <a class="navbar-brand logo-light" href="#home"><img src="../../assets/images/logo_new.png" alt="logo"></a>
          <!-- dark logo -->
          <!-- <a class="navbar-brand logo-dark" href="#home"><img src="../assets/images/LTI-LOGO.png" alt="logo"></a> -->

          <!-- nav menu toggler-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

          <!-- menu starts-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="dtr-scrollspy navbar-nav ml-auto">
                  <li class="nav-item"> <a class="nav-link" routerLink="/" (click)="animate()">Home</a> </li>
                  

                  
              </ul>
          </div>
          <!-- menu ends-->

          <!-- button here -->
          <div class="dtr-btn ml-3 d-lg-block"> <a routerLink="/register">Signup<span><i class="icon-arrow-right" aria-hidden="true"></i></span></a> </div>
          <!-- button ends -->
      </div>
  </nav>
</header>
<!-- header ends
================================================== -->
<div style="background-color:#0089f3;">
    <br><br>
    <div calss="mid-content" style="width: 80%;margin:auto; padding: 10em 3em;">
      <h2 style="text-align: center;">Forgot Password</h2>
      <div class="main-content" style="width: 50%;margin: auto;">
  <form #myForm=ngForm >
 
   
    <input type="text" name="id" placeholder="Enter Email" minlength="4" #nm="ngModel" required
      [(ngModel)]="user.userEmail">
 
    <div *ngIf="nm.invalid && (nm.dirty||nm.touched)" style="color: red; border: red;">
      Valid Customer Email is required
    </div>
    <br>
   
    <button type="submit" id="lgnButton" style="margin-left: 10px;"  (click)="generate(user.userEmail)">Send OTP</button>
    <br>
    <br>
    <!-- <p>OTP</p> -->
    <input type="text" name="otp" placeholder="Enter OTP"  #otp="ngModel" required [(ngModel)]="otpr">
 
    <div *ngIf="otp.invalid && (otp.dirty||otp.touched)" style="color: red; border: red;">
      <div *ngIf="otp.errors.required">
        OTP is required
      </div>
      <div *ngIf="otp.errors.minlength">
        OTP is invalid
      </div>
    </div>
 
 
    <button type="submit"  id="lgnButton" style="margin-left: 10px;"  value="Login" [disabled]="myForm.invalid" (click)="verifyotp()">Submit</button>
    <br><br>
    <!-- <a href="#">Login here..</a><br> -->
   
  </form>
  </div>
  </div>
  <br>
</div>
