<body >
    <br><br>
    <div calss="mid-content" style="width: 80%;margin:auto;">
      <h2 style="text-align: center;">Forgot Password</h2>
      <div class="main-content" style="width: 50%;margin: auto;">
  <form #myForm=ngForm >
 
   
    <input type="text" name="id" placeholder="Enter Email" minlength="4" #nm="ngModel" required
      [(ngModel)]="user.userEmail">
 
    <div *ngIf="nm.invalid && (nm.dirty||nm.touched)" style="color: red; border: red;">
      Valid Customer Email is required
    </div>
    <br>
   
    <button type="submit" id="lgnButton" style="margin-left: 10px;"  (click)="generate(user.userEmail)">Send OTP</button>
    <br>
    <br>
    <!-- <p>OTP</p> -->
    <input type="text" name="otp" placeholder="Enter OTP"  #otp="ngModel" required [(ngModel)]="otpr">
 
    <div *ngIf="otp.invalid && (otp.dirty||otp.touched)" style="color: red; border: red;">
      <div *ngIf="otp.errors.required">
        OTP is required
      </div>
      <div *ngIf="otp.errors.minlength">
        OTP is invalid
      </div>
    </div>
 
 
    <button type="submit"  id="lgnButton" style="margin-left: 10px;"  value="Login" [disabled]="myForm.invalid" (click)="verifyotp()">Submit</button>
    <br><br>
    <!-- <a href="#">Login here..</a><br> -->
   
  </form>
  </div>
  </div>
  <br>
 
  </body>
