    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Navbar Start -->
        <header class="navbar navbar-fixed">
            <!-- Navbar Header Start -->
            <div class="navbar--header">
                <!-- Logo Start -->
                <a href="userdashboard.html" class="logo">
                    <h3 class="page--title h3">LTI Insurance</h3>
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                </a>
                <!-- Logo End -->

                <!-- Sidebar Toggle Button Start -->
                <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- Sidebar Toggle Button End -->
            </div>
            <!-- Navbar Header End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <div class="navbar--nav ml-auto">
                <ul class="nav">


                    <!-- Nav Language Start -->
                    <!-- Nav Language End -->

                    <!-- Nav User Start -->
                    <li class="nav-item dropdown nav--user">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle">
                            <span>Henry Foster</span>
                            <i class="fa fa-angle-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="userdashboard.html"><i class="far fa-user"></i>Profile</a></li>
                            <!-- <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li> -->
                            <li class="dropdown-divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <!-- Nav User End -->
                </ul>
            </div>
        </header>
        <!-- Navbar End -->

        <!-- Sidebar Start -->
        <aside class="sidebar" data-trigger="scrollbar">
            <!-- Sidebar Navigation Start -->
            <div class="sidebar--nav">
                <ul>
                    <li>
                        <ul>
                            <li class="active open">
                                <a href="#">
                                    <span>User</span>
                                </a>
                                <ul>
                                    <li><a href="userdashboard.html">Profile</a></li>
                                    <li class="active"><a href="userpolicies.html">Your Policies</a></li>
                                    <li><a href="userclaims.html">Your Claims</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidebar Navigation End -->
        </aside>
        <!-- Sidebar End -->

        <!-- Main Container Start -->
        <main class="main--container">
            <!-- Page Header Start -->
            <section class="page--header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Page Title Start -->
                            <h2 class="page--title h5">Policies</h2>
                            <!-- Page Title End -->

                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="userdashboard.html">User</a></li>
                                <li class="breadcrumb-item active"><span>Policies</span></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </section>
            <!-- Page Header End -->

            <!-- Main Content Start -->
            <section class="main--content">
                <div class="panel">
                    <div class="col-xl-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <caption>Your Policies</caption>
                                </h3>
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table style--2">
                                        <thead>
                                            <tr>
                                                <th>Policy ID</th>
                                                <th>Registration</th>
                                                <th>Policy Name</th>
                                                <th>Policy Type</th>
                                                <th>Policy Start Date</th>
                                                <th>Policy End Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#315329</td>
                                                <td>8989989</td>
                                                <td>Platinum</td>
                                                <td>2-Wheeler</td>
                                                <td> 24 June 2020</td>
                                                <td>23 June 2021</td>
                                                <td>
                                                    <button class="label label-info">Claim</button>
                                                </td>
                                                <td>
                                                    <button class="label label-success">Renew</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#315329</td>
                                                <td>8989989</td>
                                                <td>Platinum</td>
                                                <td>2-Wheeler</td>
                                                <td> 24 June 2020</td>
                                                <td>23 June 2021</td>
                                                <td>
                                                    <button class="label label-info">Claim</button>
                                                </td>
                                                <td>
                                                    <button class="label label-success">Renew</button>
                                                </td>
                                            </tr> <tr>
                                                <td>#315329</td>
                                                <td>8989989</td>
                                                <td>Platinum</td>
                                                <td>2-Wheeler</td>
                                                <td> 24 June 2020</td>
                                                <td>23 June 2021</td>
                                                <td>
                                                    <button class="label label-info">Claim</button>
                                                </td>
                                                <td>
                                                    <button class="label label-success">Renew</button>
                                                </td>
                                            </tr> <tr>
                                                <td>#315329</td>
                                                <td>8989989</td>
                                                <td>Platinum</td>
                                                <td>2-Wheeler</td>
                                                <td> 24 June 2020</td>
                                                <td>23 June 2021</td>
                                                <td>
                                                    <button class="label label-info">Claim</button>
                                                </td>
                                                <td>
                                                    <button class="label label-success">Renew</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Main Content End -->

            <!-- Main Footer Start -->
            <footer class="main--footer main--footer-light">
                <p>Copyright &copy; <a href="#">LTI Insurance</a>. All Rights Reserved.</p>
            </footer>
            <!-- Main Footer End -->
        </main>
        <!-- Main Container End -->
    </div>
    <!-- Wrapper End -->


