<!-- <p>user-dashboard works!</p> -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <a routerLink="" class="logo">
                <img src="../../assets/images/logo_new.png" alt="" width="60%">
                <!-- <h3 class="page--title h3">LTI Insurance</h3> -->
            </a>
            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Sidebar Toggle Button End -->


        <div class="navbar--nav ml-auto">
            <ul class="nav">
                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user ">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <!-- <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle"> -->
                        <span>{{user.userName}}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <!-- <li><a href="userdashboard.html"><i class="far fa-user"></i>Profile</a></li> -->
                        <!-- <li class="dropdown-divider"></li> -->
                        <li><a href=""  (click)="logout()"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li class="active open">
                            <a href="#">
                                <span>User</span>
                            </a>
                            <ul>
                                <li class="active"><a routerLink="/userdashboard">Profile</a></li>
                                <li><a routerLink="/userpolicies">Your Policies</a></li>
                                <li><a routerLink="/userclaims">Your Claims</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar Navigation End -->
    </aside>
    <!-- Sidebar End -->

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <!-- Page Title Start -->
            <h2 class="page--title1 h5"><b> Welcome {{user.userName}}! Be insured and stay safe!</b></h2>
        </section>
        <section class="main--content">

            <div class="panel">

                <!-- Edit Product Start -->
                <div class="records--body">
                    <div class="title">
                        <h6 class="h6">User Details</h6>

                    </div>

                    <!-- Tabs Nav Start -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#tab01" data-toggle="tab" class="nav-link active">Your Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tab02" data-toggle="tab" class="nav-link">Update Details</a>
                        </li>
                        <li>
                            <a href="#tab03" data-toggle="tab" class="nav-link">Update Aadhar</a>
                        </li>


                    </ul>
                    <!-- Tabs Nav End -->

                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade show active" id="tab01">
                            <div class="panel-content">
                    
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">User Id</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.userId}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">User Name</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.userName}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">Email</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.userEmail}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">DOB</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.dateOfBirth}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">Phone</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.userPhone}}</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">Aadhar Card</span>
            
                                    <div class="col-md-10">
                                        <a *ngIf="aadharUpdated" href="../../assets/uploads/{{user.aadharCard}}" class="btn btn-outline-info btn-sm mb-3" target="_blank">View</a>
                                        <p *ngIf="!aadharUpdated" class="form-control-plaintext">No aadhar updated</p>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <span class="label-text col-md-2 col-form-label text-md-right">Aadhar Card</span>
            
                                    <div class="col-md-10">
                                        <p class="form-control-plaintext">{{user.userPhone}}</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>    
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                        <div class="tab-pane fade" id="tab02">
                            <form #updateform="ngForm" (submit)="updateUser(updateform)">
                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Your Name</span>

                                    <div class="col-md-9">
                                        <input type="text" name="name" placeholder="{{user.userName}}" class="form-control" #name="ngModel" [(ngModel)]="newUser.userName" required>
                                    
                                        <!-- <input type="text" name="number" class="form-control" required> -->
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Email Address</span>

                                    <div class="col-md-9">
                                        <input type="text" name="email" placeholder="{{user.userEmail}}" class="form-control" #email="ngModel" [(ngModel)]="newUser.userEmail" required>
                                    
                                        <!-- <input type="text" name="text" placeholder="" class="form-control" required> -->
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Contact No</span>

                                    <div class="col-md-9">
                                        <input type="text" name="phone" placeholder="{{user.userPhone}}" class="form-control" #phone="ngModel" [(ngModel)]="newUser.userPhone" required>
                                    
                                        <!-- <input type="text" name="number" class="form-control" required> -->
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">DOB</span>

                                    <div class="col-md-9">

                                        <!-- <input type="date" name="dob" placeholder="{{user.dateOfBirth}}" class="form-control" #dob="ngModel" [(ngModel)]="newUser.dateOfBirth" required> -->
                                        <mat-form-field>
                                        <input  matInput  [matDatepicker]="picker" [min]="minDate" [max]="maxDate" #dob="ngModel" [(ngModel)]="newUser.dateOfBirth" ngModel [ngModelOptions]="{standalone: true}"> 
                                            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                             <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <!-- <input type="text" name="dob" class="form-control" required> -->
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-9 offset-md-3">
                                        <input type="submit" value="Update Details" class="btn btn-rounded btn-success">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="tab03">
                            <!-- <form #uploadDoc="ngForm" (submit)="showPay()" enctype="multipart/form-data">
                                <div class="form-group">
                                  <label for="exampleFormControlFile1">Upload RC Book: </label><br>
                                  <input type="file" name="document" class="form-control-file btn btn-dark btn-sm" id="exampleFormControlFile1" (change)="onFileChange($event)"  [ngModelOptions]="{standalone: true}">
                                </div>
                                <button type="submit" class="btn btn-dark btn-sm">Pay</button>
                              </form> -->
                            
                            <form #uploadDoc="ngForm" (submit)="updateAadhar()" enctype="multipart/form-data">
                                <div class="form-group">
                                  <label for="exampleFormControlFile1">Upload Aadhar Card: </label><br>
                                  <input type="file" name="document" class="form-control-file btn btn-dark btn-sm" id="exampleFormControlFile1" (change)="onFileChange($event)" ngModel [ngModelOptions]="{standalone: true}">
                                </div>
                                <button type="submit" class="btn btn-dark btn-sm">Upload</button>
                              </form>
                                <!-- <div class="form-group row">
                                    <span class="label-text col-md-3 col-form-label">Your Name</span>

                                    <div class="col-md-9">
                                        <input type="text" name="name" placeholder="{{user.userName}}" class="form-control" #name="ngModel" [(ngModel)]="newUser.userName" required>
                                    
                                        <input type="text" name="number" class="form-control" required>
                                    </div>
                                </div> -->
                        </div>
                        
                        <!-- Tab Pane End -->
                        <!-- Tab Pane Start -->
                    </div>
                    <!-- Tab Pane End -->

                    <!-- Tab Pane Start -->
                    <!-- Tab Pane End -->
                </div>
                <!-- Tab Content End -->
            </div>
            <!-- Edit Product End -->
        </section>
        <!-- Main Content End -->
        <!-- Main Content End -->
        
        <!-- Main Footer Start -->
        <footer class="main--footer main--footer-light">
            <p>Copyright &copy; <a href="#">LTI Insurance</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->
