<!-- <p>user-dashboard works!</p> -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <a routerLink="" class="logo">
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h3 class="page--title h3">LTI Insurance</h3>
            </a>
            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Sidebar Toggle Button End -->


        <div class="navbar--nav ml-auto">
            <ul class="nav">
                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user ">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle">
                        <span>Henry Foster</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="userdashboard.html"><i class="far fa-user"></i>Profile</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li class="active open">
                            <a href="#">
                                <span>User</span>
                            </a>
                            <ul>
                                <li class="active"><a href="userdashboard.html">Profile</a></li>
                                <li><a href="userpolicies.html">Your Policies</a></li>
                                <li><a href="userclaims.html">Your Claims</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar Navigation End -->
    </aside>
    <!-- Sidebar End -->

    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <!-- Page Title Start -->
            <h2 class="page--title1 h5"><b> Welcome User</b></h2>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">User Details</h3><br><br>
                    <div class="span--left">User ID</div><div class="span--right">109291</div>
                    <div class="span--left">User Name</div><div class="span--right">Bhushann</div>
                    <div class="span--left">User Age</div><div class="span--right">22</div>
                    <div class="span--left">User Email</div><div class="span--right">bhushan.bamble@g.com</div>
                    <div class="span--left">DOB</div><div class="span--right">22/02/1998</div>
                    <div class="span--left">Phone</div><div class="span--right">9867495960</div><br>
                    <div class="span--middle"><a href="edituserdetails.html"><button type="button" class="btn btn-sm btn-rounded btn-outline-secondary label-orange boldit">Edit Details</button></a></div>
                </div>    
            </div> 
        </section>
        <!-- Main Content End -->
        
        <!-- Main Footer Start -->
        <footer class="main--footer main--footer-light">
            <p>Copyright &copy; <a href="#">LTI Insurance</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->
