<!-- Header
============================================= -->
<header id="dtr-header-global" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark dtr-menu">
      <div class="container">

          <!-- light logo -->
          <a class="navbar-brand logo-light" routerLink="/"><img src="../assets/images/LTI-LOGO.png" alt="logo"></a>
          <!-- dark logo -->
          <!-- <a class="navbar-brand logo-dark" href="#home"><img src="../assets/images/LTI-LOGO.png" alt="logo"></a> -->

          <!-- nav menu toggler-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

          <!-- menu starts-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="dtr-scrollspy navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" routerLink="/">Home</a> </li>
                  <!-- <li class="nav-item"> <a class="nav-link" href="#home" (click)="animate()">Home</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#products" (click)="animate()">Products</a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#about" (click)="animate()">About</a> </li> -->

                  <!-- dropdown starts -->
                  <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Resources </a>
                      <div class="dropdown-menu dropdown-animate" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#reviews">Reviews</a> <a class="dropdown-item" href="#features">Features</a> <a class="dropdown-item" href="#cta">Contact</a> </div>
                  </li>
                  
                  
                  <li class="nav-item"> <a class="nav-link" href="#FAQ">FAQ</a> </li> -->
                  <li class="nav-item" *ngIf="userId"><a class="nav-link" href="#">Dashboard</a></li>
                  <li class="nav-item" *ngIf="userId"><a class="nav-link" href="/buyvehicle" (click)="logout()">Logout</a></li>
                 
              </ul>
               <!-- button here -->
               <div *ngIf="userId == null" class="dtr-btn ml-3 d-lg-block"> <a routerLink="/register">Signup<span><i class="icon-arrow-right" aria-hidden="true"></i></span></a> </div>
              
               <!-- button ends -->
          </div>
          <!-- menu ends-->

          
      </div>
  </nav>
</header>
<!-- header ends
================================================== -->
<div style="background-color:#0089f3;">



<div style="padding: 3em;">
  <h1 style="margin-top: 10px;text-align: center;">Travel Insurance</h1>
  <mat-horizontal-stepper linear [labelPosition]="'bottom'">
    <mat-step>
      <div style="display: block;"><p class="buildInsPlan">Let’s plan your travel insurance!</p></div>
      <div class="circle">
          <div class="images">
            <img src="/assets/travel2.jpg" alt="bike" style=" height: 70px; width: 70px;border-radius: 50%;">
          </div>
          <br>
          <br>
          <!-- <div class="vertical-space"></div> -->
          <form #travelForm = "ngForm">
            <ng-template matStepLabel>
              <p>Provide Details</p>
            </ng-template>

            <div *ngIf="Step1">
              <mat-form-field [style.width.px]=320>
                <!-- <div class="label">
                  Start Date</div>
                <div class="vertical-space"></div>
                <input type="date" matInput name="startDate" required #startDate="ngModel" [(ngModel)]="travel.startDate"> -->
                <div class="label">
                  Start Date</div>
                <div class="vertical-space"></div>
                <!-- <input  matInput  [matDatepicker]="startDate"  required #startDate="ngModel" [(ngModel)]="travel.startDate"> -->
                <input  matInput  [matDatepicker]="startDate" [min]="start_date" required #start="ngModel" [(ngModel)]="travel.startDate" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>

              </mat-form-field>
                <!-- <div class="vertical-space"></div> -->

              <!-- <mat-form-field [style.width.px]=320>
                <div class="label">End Date: </div>
                <div class="vertical-space"></div>
                <input type="date" matInput name="endDate" required #endDate="ngModel" [(ngModel)]="travel.endDate">
              </mat-form-field> -->
              <mat-form-field [style.width.px]=320>
                <div class="label">End Date: </div>
                <div class="vertical-space"></div>
                <!-- <input type="date" matInput name="endDate" required #endDate="ngModel" [(ngModel)]="travel.endDate"> -->
                <input  matInput  [matDatepicker]="endDate" [min]="minEndDate" [max]="maxEndDate" #end="ngModel" [(ngModel)]="travel.endDate" [ngModelOptions]="{standalone: true}"> 
                <mat-datepicker-toggle [for]="endDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>  
              
              <br>
              <div class="vertical-space"></div>
              <!-- <div class="vertical-space"></div> -->
              <div class="dtr-btn"><a (click)="showForm2()"><span><i class="icon-arrow-right"></i></span></a></div>
            </div>

            <div *ngIf="Step2">
              <mat-form-field [style.width.px]=320>
                <div class="label">Source:</div>
                <div class="vertical-space"></div>
                <input matInput name="source" required #source="ngModel" [(ngModel)]="travel.source">
              </mat-form-field>

                <!-- <div class="vertical-space"></div> -->

              <mat-form-field [style.width.px]=320>
                <div class="label">Destination: </div>
                <div class="vertical-space"></div>
                <input matInput name="destination" required #destination="ngModel" [(ngModel)]="travel.destination">
              </mat-form-field><br>
              <!-- <div class="vertical-space"></div> -->
              <div class="dtr-btn"><a (click)="showForm3()"><span><i class="icon-arrow-right"></i></span></a></div>
            </div>

            <div *ngIf="Step3">
              <mat-form-field [style.width.px]=320>
                <!-- <div class="vertical-space"></div> -->

                <div class="label">Mode of Transport:</div>
                <div class="vertical-space"></div>
                <input matInput name="modeOfTransport" required #modeOfTransport = "ngModel" [(ngModel)] = "travel.modeOfTransport">
              </mat-form-field>
              <!-- <div class="vertical-space"></div> -->
              <!-- <mat-form-field [style.width.px]=320>
                <div class="label">Date of Birth: </div>
                <div class="vertical-space"></div>
                <input type="date" matInput name="DOB" required #DOB="ngModel" [(ngModel)]="user.dateOfBirth">
              </mat-form-field> -->
              <mat-form-field [style.width.px]=320>
                <div class="label">Date of Birth: </div>
                <div class="vertical-space"></div>
                <!-- <input type="date" matInput name="DOB" required #DOB="ngModel" [(ngModel)]="user.dateOfBirth"> -->
                <input  matInput  [matDatepicker]="DOB" [min]="startDOB" [max]="endDOB" #dateofbirth="ngModel" [(ngModel)]="user.dateOfBirth" [ngModelOptions]="{standalone: true}"> 
                <mat-datepicker-toggle [for]="DOB" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #DOB></mat-datepicker>
              </mat-form-field>

              <div class="vertical-space"></div>
                <button class="dtr-btn" mat-button matStepperNext><span><i class="icon-arrow-right"></i></span></button>

            </div>
          </form>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <p>Choose Plans</p>
      </ng-template>

      <div class="choosePlanForm">
        <h1 style="display: block; text-align: center; font-weight: bold;">>>>Choose Your Plan<<<</h1>
          <div class="policyPlan">
            <span class="planName">Individual Travel Insurance</span>
            <hr>
            <ul>
              <li>Covers baggage related,journey related and medical suport .</li>
              <li>Renew expired policy without inspection. Policy will start 3 days from today.</li>
            </ul>
            <div class="width50 text-right">
              <button class="btnChoosePolicy btnChoosePolicy-o" mat-button matStepperNext (click)="calculatePremium()">Choose</button>
            </div>

          </div>

          <div class="policyPlan">
            <span class="planName">Students  Travel Insurance</span>
            <hr>
            <ul>
              <!-- <li>It is mandatory as per law.</li> -->
              <li>Covers baggage related,stay related,journey related and medical suport.</li>
              <li>Renew expired policy without inspection.It will start 3 days from today</li>
            </ul>

            <div class="width50 text-right">
              <button class="btnChoosePolicy btnChoosePolicy-o" mat-button matStepperNext (click)="calculatePremium()">Choose</button>
            </div>

          </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <p>Get Estimation</p>
      </ng-template>

      <div class="choosePlanForm" *ngIf="showPlans">
        <button matStepperPrevious>Back</button>
        <h1 style="display: block; text-align: center; font-weight: bold;">Get Your Estimation!</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Policy Name</th>
              <th scope="col">Premium Amount</th>
              <th scope="col">Duration</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="padding-top: 25px;">{{policy.policyName}}</th>
              <td style="padding-top: 25px;">Rs. {{policy.premiumAmount}}</td>
              <td style="padding-top: 25px;">{{policy.duration}} Days</td>
              <td><button type="button" class="btn btn-dark btn-sm" (click)="showPay(policy)">Choose</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container py-5" *ngIf="showPayment">
        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-6">Bootstrap Payment Forms</h1>
            </div>
        </div> <!-- End -->
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Credit Card / Debit Card </a> </li>

                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form" >
                                    <div class="form-group">
                                        <label for="username">
                                            <h6>Card Owner</h6>
                                        </label>
                                        <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
                                    </div>

                                    <div class="form-group">
                                        <label for="cardNumber">
                                            <h6>Card number</h6>
                                        </label>
                                        <div class="input-group">
                                            <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i>
                                                    <i class="fab fa-cc-mastercard mx-1"></i>
                                                    <i class="fab fa-cc-amex mx-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>
                                                    <span class="hidden-xs">
                                                        <h6>Expiration Date</h6>
                                                    </span>
                                                </label>
                                                <div class="input-group">
                                                    <input type="number" placeholder="MM" name="" class="form-control" required>
                                                    <input type="number" placeholder="YY" name="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div *ngFor="let policy of policies">
                                            <div>{{policy}}</div> -->
                                        <!-- </div> -->
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4">
                                                <label matTooltip="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="text" required class="form-control">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-footer">
                                        <button class="subscribe btn btn-primary btn-block shadow-sm" (click)="addInsurance()"> Confirm Payment </button>
                                    </div>
                                </form>

                            </div> <!-- End -->
                        <!-- End -->
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

    </mat-step>

  </mat-horizontal-stepper>
</div>
