<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Navbar Start -->
    <header class="navbar navbar-fixed">
        <!-- Navbar Header Start -->
        <div class="navbar--header">
            <!-- Logo Start -->
            <a href="dashboard-Admin.html" class="logo">
                <h3 class="page--title h3">LTI Insurance</h3>
                <!-- <img src="assets/img/logo.png" alt=""> -->
            </a>
            <!-- Logo End -->

            <!-- Sidebar Toggle Button Start -->
            <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Sidebar Toggle Button End -->
        </div>
        <!-- Navbar Header End -->

        <!-- Sidebar Toggle Button Start -->
        <a href="#" class="navbar--btn" data-toggle="sidebar" title="Toggle Sidebar">
            <i class="fa fa-bars"></i>
        </a>

        <div class="navbar--nav ml-auto">
            <ul class="nav">

                <!-- Nav User Start -->
                <li class="nav-item dropdown nav--user ">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <img src="assets/img/avatars/01_80x80.png" alt="" class="rounded-circle">
                        <span>Henry Foster</span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="profile.html"><i class="far fa-user"></i>Profile</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
                <!-- Nav User End -->
            </ul>
        </div>
    </header>
    <!-- Navbar End -->

    <!-- Sidebar Start -->
    <aside class="sidebar" data-trigger="scrollbar">
        <!-- Sidebar Navigation Start -->
        <div class="sidebar--nav">
            <ul>
                <li>
                    <ul>
                        <li class="active open">
                            <a href="#">
                                <span>User</span>
                            </a>
                            <ul>
                                <li class="active"><a href="userdashboard.html">Profile</a></li>
                                <li><a href="userpolicies.html">Your Policies</a></li>
                                <li><a href="userclaims.html">Your Claims</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar Navigation End -->

    </aside>
    <!-- Sidebar End -->
    <!-- Main Container Start -->
    <main class="main--container">
        <!-- Page Header Start -->
        <section class="page--header">
            <!-- Page Title Start -->
            <h2 class="page--title1 h5"><b> Welcome User</b></h2>
        </section>
        <!-- Page Header End -->

        <!-- Main Content Start -->
        <section class="main--content">
            
            <div class="col-md-12">
                <!-- Panel Start -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Details</h3>
                    </div>

                    <div class="panel-content">
                        <!-- Form Group Start -->
                        <div class="form-group row">
                            <span class="label-text col-md-2 col-form-label ">User Name</span>

                            <div class="col-md-10">
                                <input type="text" name="text" placeholder="Input Text" class="form-control">
                            </div>
                        </div>
                        <!-- Form Group End -->

                        <hr>
                        <div class="form-group row">
                            <span class="label-text col-md-2 col-form-label ">User Email</span>

                            <div class="col-md-10">
                                <input type="text" name="text" placeholder="Input Text" class="form-control">
                            </div>
                        </div>
                        <!-- Form Group End -->

                        <hr>
                        <div class="form-group row">
                            <span class="label-text col-md-2 col-form-label ">Phone</span>

                            <div class="col-md-10">
                                <input type="text" name="text" placeholder="Input Text" class="form-control">
                            </div>
                        </div>
                        <!-- Form Group End -->

                        <hr>
                        <input type="submit" value="Submit" class="btn btn-sm btn-rounded btn-success">
                        <a href="userdashboard.html"><button type="button" class="btn btn-sm btn-rounded btn-outline-secondary">Cancel</button></a>
                    </div>
                </div>
                <!-- Panel End -->
            </div>
            
        </section>
        <!-- Main Content End -->

        <!-- Main Footer Start -->
        <footer class="main--footer main--footer-light">
            <p>Copyright &copy; <a href="#">LTI Insurance</a>. All Rights Reserved.</p>
        </footer>
        <!-- Main Footer End -->
    </main>
    <!-- Main Container End -->
</div>
<!-- Wrapper End -->
